training_data/
training_data_vaibhav/
ckpts/
training_scripts/wandb/
training_scripts/*gif 
training_data_vaibhav*/
multiobject/
training_scripts/inference_results/
training_scripts/*.mp4 
training_scripts/*vis* 
training_scripts/*safe* 
*vis* 
*safe* 
*aer* 
training_data* 
training_scripts/wandb 
training_scripts/__pycache__ 
*controlnet* 
*.zip 
*.gif 
*.mp4 
*.jpg 
training_scripts/*.gif 
training_scripts/*.jpg  
training_scripts/*.log 
waste/ 
obja* 
2obj* 
training_scripts/textual_inversion/ 