training_data/
training_data_vaibhav/
ckpts/
training_scripts/wandb/
training_scripts/*gif 
multiobject/
training_data_vaibhav2/
training_scripts/*vis*
training_scripts/vis/
*a_shifted*
*aer* 
training_data_*/
training_scripts/inference_results/ 
*.zip 
*axy* 
training_scripts/*.gif 
*.gif 
*.png 
*.jpg 
training_scripts/*.jpg 
training_scripts/*.png
training_scripts/*safe* 